/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
	background-color: #FEE300;
	background-image: url(pat.jpg);
	
  margin-bottom: 60px;

}


.navbar {
	padding: 10px;
	height: 95px;
}

hr {
	background-color: black;
	border-color:black;
	max-width: 85%;
	
	
}

.btn {
	background-color: black;
	color: white;
}

 p:hover a {
    color:#fee300!important;
}

/*
.col-lg-12 {
	background-color: black;
	color: white;
}
*/

.logo {
	
	float: right;
	padding-top: 10px;
	
/*
	position: absolute;
	top: 8px;
	right: 10px;
*/
}

.linked {
	width: 45px;
	padding-top: 10px;
}

.glyphicon {
	padding-right: 5px;
}

.jumbotron {
	position: relative;
	top:21px;
	background-image: url(bg.jpg);
	width:100%;
	background-size:cover;
	background-repeat: no-repeat;
	color:white;
	height: 300px;
}

/*
.col-md-4 {
	border: 1px solid black;
	border-radius: 5px;
	min-height: 200px;
	
}
*/

h1 {
    text-shadow: 1px 1px black;
}
.footer {
  position: absolute;
	vertical-align: middle;
	bottom: 0px;
	text-align: center;
  
  width: 100%;
	padding: 2px;
	
	
  /* Set the fixed height of the footer here */
 
  
}


@media (max-width: 600px) {
  .logo {
    width: 250px;
		float:right;
		padding-top: 16px;
		
  }
	
	.linked {
	width: 40px;
		top: 15px;
		float:left;
	
}
	.jumbotron {
	position: relative;
	top:21px;
	background-image: url(bg.jpg);
	width:100%;
	background-size:cover;
	background-repeat: no-repeat;
	color:white;
	height: 250px;
}
	
	
}